.question {
    width: 800px;
    height: 275px;
    background-color: rgb(234, 234, 234);
}

.answer {
    width: 800px;
    height: auto;
    background-color: rgb(234, 234, 234);
}

.userInfo {
    width: 250px;
    background-color: rgb(217, 228, 238);
    position: relative;
    left: 500px;
    bottom: 125px;
}

.profileImage {
  width: 50px;
  height: 50px;
}

.voteCell {
    width: 100px;
    height: 130px;
}

.questionVotes {
  position: relative;
  bottom: 25px;
  text-align: center;
  font-size: 16pt;
}

.questionBody {
    width: 625px;
    position: relative;
    bottom: 140px;
    left: 130px;
}

.tag {
  width: auto;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

.wrap {
  height: 50px;
  width: 50px;
  position: relative;
  top: -25px;
  overflow: hidden;
  margin: 2px auto;
}

.wrap .tri {
  position: absolute;
  height: 70%;
  width: 70%;
  background: gray;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transform-origin: bottom left;
  transition: all 0.6s;
  transform: rotate(45deg);
}
.wrap2 {
  transform: rotate(180deg);
}