a {
    cursor: pointer;
}
h3 {
    color: #9d9d9d;
}
.searchInput { 
    width: 200px; 
    border: 1px solid #999999; 
    padding: 5px; 
}
.searchTitle {
    padding: 5px;
}
.filterRow {
}

/* Consider how wide list of search results should be */
.searchResults {
    margin-top: 10px;
}
.questionOverview {
    border: 2px solid #999999;
    padding: 5px;
}
.scoreBox { 
    float: left;
    display: inline-block;
    padding: 5px;

    border: 1px solid #ddd;
    border-radius: 30px;

    background-color: #ddd;

    width: 60px;
    height: 60px;

    text-align: center;

    margin: auto 20px;
}
.score {
    position: relative;
    top: 15px;
    margin: auto 0px;
}
.questionSummary { 
    display: inline-block;
    padding: 5px;
}
.questionTitle {
     cursor:pointer;
     color:#337ab7;

     padding-bottom: 15px;

     font-size: 20px;
}
.questionTitle:hover {
    text-decoration:underline;

}

.questionSpec {
     color: black;

     padding-bottom: 15px;

     font-size: 20px;
}


.questionDesc {
    padding-bottom: 30px;
    /*padding-left: 120px;*/
}

.userName {
     cursor:pointer;
     color:#337ab7;
 }
.userName:hover {
    text-decoration:underline;

}
.tagCat {
    width: 800px;
    padding: 5px;
}
.tagLine { float: left; width: 500px;}
.catLine { text-align: right; } 
.boxTag {
    border: 2px solid gray;
    background-color: #CCFFCC;
    padding: 2px;
} 
.clickCat {
     cursor:pointer;
     color:#337ab7;
     text-decoration:underline;
}

.mainListings {
    margin-top: 10px;
}
.topAnswer{
    display: inline-block;
    margin-left: 60px;
    padding: 5px;
    width: 70%;
}
.rightpart {
    display: inline-block;
    float: right;
}
#sortCategory {
    margin-right: 10px;
}